<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772504823881-bp4sinq6869e5jaqv57r3pk2l5mmnefe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772504823881-bp4sinq6869e5jaqv57r3pk2l5mmnefe</string>
	<key>API_KEY</key>
	<string>AIzaSyAWjFUbR5CKoP8_V5a56aXON--0DkM1faw</string>
	<key>GCM_SENDER_ID</key>
	<string>772504823881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.runnect.Runnect-iOS</string>
	<key>PROJECT_ID</key>
	<string>runnect-6c5e8</string>
	<key>STORAGE_BUCKET</key>
	<string>runnect-6c5e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772504823881:ios:e955e328c32c8a864b3798</string>
</dict>
</plist>